

.simple-table {

  font-size: 1.0em;

  thead {
    border-bottom: 1px solid $gb-mineshaft;
    border-top: 1px solid $gb-mineshaft;

    th {
      padding: 1em 1em;
    }
  }

  tbody {
    vertical-align: top;

    tr {
      border-bottom: 1px solid $gb-silver;

      td {
        padding: 0.3em 1em;
      }
    }

  }

}
