

.simple-table {

  font-size: 1.0em;
  width: 100%;

  thead {
    border-bottom: 1px solid $gb-bombay;
    border-top: 1px solid $gb-bombay;

    th {
      padding: 0.5em 0.5em;
    }
  }

  tbody {
    vertical-align: top;

    tr {
      border-bottom: 1px solid rgba($gb-bombay, 0.5);

      td {
        padding: 0.3em 0.5em;
      }
    }

  }

}
