.grant-section {

  border: 1px solid rgba($gb-bombay, 0.5);
  border-width: 0 0 1px 0;

  margin: 0;
  padding: 0.3em 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
  }

  .grant-section-output {
    padding-right: 70px;
    position: relative;

    .grant-section-back {
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;

      &:after {
          @include iconfont();
          clip: rect(0 0 0 0);
          color: $gb-boulder;
          content: $content-long-arrow-left;
          display: inline-block;
      }

      // span {
      //   clip: rect(0 0 0 0);
      //   /*Webkit and IE7 let clipped content change the scroll height of the page*/
      //   /*Scale webkit to 0*/
      //   -webkit-transform: scale(0);
      //   -webkit-font-smoothing: antialiased;
      //   -moz-osx-font-smoothing: grayscale;
      // }

    }

  }



}
